{% extends "layout.html" %}

{% block title %}
    Stock Quote
{% endblock %}

{% block main %}
    {% if quote is defined %}
        <h2>Current Quote</h2>
        <form class="form-horizontal">
        	<div class="form-group row">
        		<label for="name" class="control-label col-sm-2">Name</label>
        		<div class="col-sm-10">
        			<input type="text" class="form-control" name="name" placeholder="">
        		</div>	
        	</div>
        	<div class="form-group row">
        		<label for="symbol" class="control-label col-sm-2">Symbol</label>
        		<div class="col-sm-10">
        			<input type="text" class="form-control" name="symbol" placeholder="">
        		</div>	
        	</div>
        	<div class="form-group row">
        		<label for="price" class="control-label col-sm-2">Price</label>
        		<div class="col-sm-10">
        			<input type="text" class="form-control" name="price" placeholder="">
        		</div>	
        	</div>
        	<div class="form-group row">
        		<label for="shares" class="control-label col-sm-2">Shares</label>
        		<div class="col-sm-10"> 	
        			<input type="number" class="form-control" name="shares" placeholder="">
        		</div>	
        	</div>
        	
        	<div class="form-group row"> 
        		<div class="col-sm-10 col-sm-offset-2"> <!--New div, offset because there is no label -->						
        			<button type="submit" class="btn btn-primary">Buy</button>
        		</div>
        	</div>		
        </form>
        <div class="col-12 justify-content-center">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Symbol</th>
                    <th>Price (USD)</th>
                </tr>
                <tr>
                    <td>{{ quote["name"] }}</td>
                    <td>{{ quote["symbol"] }}</td>
                    <td>{{ quote["price"] }}</td>
                </tr>
            </table>
        </div>
        <h2>New Quote</h2>
    {% endif %}

    <form action="{{ url_for('quote') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Stock Symbol" type="text"/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Get Quote</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
